<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rol</title>
</head>
<body>
    <p style="display: none;">Rol: <%= roles.name %> </p>

    <form action="/rol/update/<%= roles.id %>?_method=PUT" method="POST">
        <label for="title">Rol</label>
        <p><input type="text" name="name" id="" value="<%= roles.name %>" required></p>
        <button class="botonBorrar" type="submit">Editar el rol</button>
            <br><br>
    </form>
    <form action="/rol/destroy/<%= roles.id %>?_method=DELETE" method="POST">
        <button class="botonBorrar" type="submit">Eliminar el rol</button>
            <br><br>
    </form>
    <br><br>
    <a  class="botonVolver" href="/rol">Listado de Roles</a>
</body>
</html>