<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Roles</title>
    </head>

    <body>
        <h1>LISTADO DE ROLES</h1>
        <div>Alta de Rol</div>
        <div>    
            <form action="/rol/create" method="POST">
                <div class="fr_nombre">
                    <label class="fr_lbltexto">Nombre</label>
                    <input type="text" name="name" id="" required>
                </div>
                <br>
                <div class="fr_registro">
                    <div class="fr_registro-left">
                        <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                            <span class="pd_gl-cta__content">
                                Crear
                            </span>
                        </button>
                    </div>
                </div>
            </form> 
        </div>
        
        <ul>
            <% for( let i = 0; i < roles.length; i++ ) { %>
                <li>
                    <a href="rol/detail/<%= roles[i].id %>"><%= roles[i].name %></a>
                </li>
            <% } %>
        </ul>
    </body>
</html>