<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar nuevo usuario</title>
</head>
<body>

    <form action="/users/create" method="POST" enctype="multipart/form-data">
        <label for="firstName">Nombre</label>
        <input type="text" name="firstName" id="firstName" required>
        <br>
        <label for="lastName">Apellido</label>
        <input type="text" name="lastName" id="lastName" required>
        <br>
        <label for="userName">Usuario</label>
        <input type="text" name="userName" id="userName" required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <br>
        
        <label for="avatar">Avatar</label>
        <input type="file" name="avatar" id="avatar" >
        <br>

        <label for="rolId">Rol</label>
        <select name="rolId" id="" required>
            <option value="0" disabled>- Seleccione una marca - </option>
            <% allRoles.forEach(rol => { %>
            <option value="<%= rol.id %>"<% if (product.rolId == rol.id) { %><%= 'selected' %><% }; %>><%= rol.name %></option>
            <% }); %>
        </select>
        <br>

        <button class="createUser" type="submit">Crear</button>
            <br><br>
    </form>
    <br><br>
    <a  class="botonVolver" href="/users">Listado de Usuarios</a>
</body>
</html>