<footer>
    <section>
        <div class="container lgrey">
            <div class="ico-contactenos">
                <a href="https://api.whatsapp.com/send?phone=5491156662222&text=Me contacto desde la web" target="_blank">
                    <img src="/images/ico-contacto.png" alt="" >
                </a>
            </div>
            <div class="logo-footer">
                <a href="index.html">
                    <img src="/images/logo-weByte.png" alt="WeByte Indumentaria deportiva" class="logo-xs"> 
                </a>
            </div>
            <nav class="main-navbar-bottom">
                <ul>
                    <li><a href="/product/1">Hombre </a></li>
                    <li>|</li>
                    <li><a href="/product/2">Mujer </a></li>
                    <li>|</li>
                    <li><a href="/product/3">Niños </a></li>
                    <li>|</li>
                    <li><a href="/product">Todos </a></li>
                    <li>|</li>
                    <li><a href="#">Como comprar </a></li>
                    <li>|</li>
                    <li><a href="#">Contactenos </a></li>
                    <li>|</li>
                </ul>
            </nav>
            <nav class="main-navbar-social">
                <ul>
                    <li class="ico-network">
                        <a href="https://www.instagram.com/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="ico-network">
                        <a href="https://www.facebook.com/">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="ico-network">
                        <a href="https://www.youtube.com/">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="ico-network">
                        <a href="https://www.twitter.com/">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="color-bottom dgrey">
            <div class="container d-flex">
                <p>Av Cordoba 5486 - CABA - 011-2356-8596</p>
                <p>Copyright 2021 - Todos los derechos reservados</p>
            </div>
        </div>
    </section>
</footer>

