<div id="pd_newsletter">
    <div class="container d-flex">
        <div class="pd_text-news">
            <h6>Suscribite</h6>
            <p clas>Recibí nuestras novedades y Obtené descuentos!!</p>
        </div>
        <button type="button" class="pd_gl-cta pd_gl-cta--primary">
            <span class="pd_gl-cta__content">Suscribirse</span>
        </button>
    </div>
</div>