<section>
    <div class="container novedades">
      <h2>Novedades</h2>
    </div>
  

  <div id="carouselExampleInterval" class="carousel slide multi-item-carousel" data-bs-ride="carousel">
    <div class="container">
      <div class="col">
        <%- include('partials/carousel-novedades', { products }) %>          
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>