<div id="footer-pre">
    <div class="pd_icon-service">
        <div class="pd_icon"><i class="pe-7s-car"></i></div>
        <div class="pd_icontext">
         <h6>ENVÍOS A TODO EL PAÍS</h6>
         <p>Llegamos con nuestros productos a todo el país.</p>
        </div>
    </div>
    <div class="pd_icon-service">
       <div class="pd_icon"><i class="pe-7s-help2"></i></div>
            <div class="pd_icontext">
             <h6>SOPORTE 24/7</h6>
             <p>Contactanos las 24 horas, los 7 días de la semana.</p>
        </div>
    </div>
    <div class="pd_icon-service">
        <div class="pd_icon"><i class="pe-7s-refresh"></i></div>
        <div class="pd_icontext">
            <h6>30 DÍAS PARA CAMBIOS</h6>
            <p>Podes cambiar tus prendas sin problemas por 30 días.</p>
            </div>
    </div>
    <div class="pd_icon-service">
      <div class="pd_icon"><i class="pe-7s-door-lock"></i></div>
        <div class="pd_icontext">
            <h6>PAGOS 100% SEGUROS</h6>
            <p>Aseguramos tu pago a través de la plataforma de MercadoPago.</p>
            </div>
    </div>
</div>